body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: yellow;
   
    
    padding: 20px;
   
}
  ul li{
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
}
ol li{
   color: red;
   
}
h1{
    text-align: center;
}
a:link{
    color: black;
}
a:hover{
    color: red;
    font-size: 20px;
}
a:active{
    color: blue;
    font-size: 25px;
}
a:visited{
    font-size: 13px;
}